.bg_color_1 {
  background-color: #8c1932;
}

.bg_color_2 {
  background-color: #1e3264;
}

.bg_color_4 {
  background-color: #0d73ec;
}

.bg_color_5 {
  background-color: #777777;
}

.bg_color_6 {
  background-color: #ba5d07;
}

.bg_color_7 {
  background-color: #af2896;
}

.bg_color_8 {
  background-color: #ffc864;
}

.bg_color_9 {
  background-color: #f59b23;
}

.bg_color_10 {
  background-color: #f573a0;
}

.bg_color_11 {
  background-color: #e8115b;
}

.bg_color_3 {
  background-color: #c3f0c8;
}
